/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

/*...................................
    Header css
................................... */

#header {
  width: 100vw;
  padding: 30px 0;
  background: rgba(255, 144, 14, 0.1);
}
#header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header-title h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  color: #131313;
}
#header .header-item {
  display: flex;
}
#header .header-item li {
  margin-left: 30px;
}
#header .header-item li a {
  color: #424242;
  text-decoration: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

#Brand .brand-img img {
  width: 1025px;
}
/*...................................
    Banner css
................................... */
#Brand {
  width: 100vw;
  padding: 30px 0;
  background: rgba(255, 144, 14, 0.1);
}
#Brand .brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Brand .brand-title h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  color: #131313;
}
#Brand .brand-title p {
  width: 732px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin: 20px 0;
}
#Brand .brand-btn button {
  border: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  background-color: #ff900e;
  color: #ffffff;
  padding: 15px 30px;
  margin-bottom: 40px;
}
/*...................................
    Feature css
................................... */
#Feature {
  margin: 50px 0px;
  width: 100vw;
  height: 70vh;
}
#Feature .feature-container {
  display: flex;
  flex: 1;
  align-items: center;
}
#Feature .feature-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-left: 60px;
}
#Feature .feature-img-container img {
  width: 230px;
  height: 230px;
  border-radius: 8px;
}
#Feature .feature-info-container {
  margin-left: 30px;
}
#Feature .feature-info-container h2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}
#Feature .feature-info-container h2 .span-1 {
  color: #727272;
}
#Feature .feature-info-container h2 .span-3 {
  color: #ff900e;
}
#Feature .feature-info-container p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-top: 10px;
  margin-bottom: 20px;
}
#Feature .feature-info-container button {
  border: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  background-color: #ff900e;
  color: #ffffff;
  padding: 15px 30px;
  margin-bottom: 40px;
}
/*...................................
    Ducoment css
................................... */
#ducoment {
  width: 100vw;
  height: 70vh;
}
#ducoment .ducoment-container {
  display: flex;
  align-items: center;
  flex: 1;
}

#ducoment .duco-title {
  width: 468px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  color: #131313;
  font-size: 30px;
  line-height: 58px;
  border-left: 4px solid #ff900e;
  padding-left: 5px;
}
#ducoment .duco-para {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #727272;
  margin: 20px 0;
}
#ducoment .document-info {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 15px;
  margin: 10px 0;
}
#ducoment .document-info h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
  margin-top: 20px;
}
#ducoment .document-info p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #727272;
  margin: 10px 0;
}
#ducoment .architect-img {
  height: 860px;
  padding-left: 40px;
}

#ducoment .architect-img img {
  height: 832px;
}
